* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../images/gloomy-background.jpg);
    background-image: no-repeat;
    background-size: cover;
    color: #cec7b6;
}

h2 {
    color: #e6e6e6;
    border-bottom: solid 3px #6c7184;
    font-size: 20px;
}

h3 {
    padding: 10px 10px 7px 0;
    color: #e6e6e6;
    font-size: 15px;
}

p {
    position: relative;
    text-align: justify;
    font-size: 14px;
}

img {
    width: 100%;
    margin: 20px 0 20px 0;
    border-radius: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #6c7184;
    border: 3px solid #66606e;
    color: #e6e6e6;
    border-radius: 5px;
}

button:hover {
    transform: scale(0.98);
    color: #cec7b6;
}

.title {
    width: 400px;
    margin: 40px;
}

.wrap {
    background-color: #2f2c33b1;
    padding: 20px;
    margin: 0;
}

.buttons {
    margin: 10px;
}

.edit-btn {
    text-align: center;
}

input {
    background-color: #cec7b6;
    border-color: #66606e;
    width: 40%;
    height: 2.5rem;
    padding: 5px;
    border-radius: 5px;
    margin: 0;
}

.img-display {
    height: 200px;
}

.edit-wrap {
    max-width: 400px;
}

.find,
.replace-with {
    width: 60%;
}

.center-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 430px) {
    .buttons {
        transform: scale(0.8);
        margin: 0;
    }
    .title {
        width: 270px;
        margin: 50px 0 70px 0;
    }
}